body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: dodgerblue;
}
.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.ctrlBtns {
  display: flex;
  flex-direction: column;
}
.ctrlBtns button {
  background-color: dodgerblue;
}